<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="container">
    <div class=" row mt-4">
      <div class="col text-center">
        <img src="/img/Boruto-3.jpg" alt="Andhika dwi" class="img-thumbnail"  width="220"/>
        <h1>Andhika Dwi</h1>
        <p class="lead">Lecturer | Content Creator</p>
        <div class="row">
          <div class=" col-md-6 mt-3">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto veniam reiciendis dolore,
           repellendus nobis officia maiores id fuga impedit magnam placeat rerum ex, 
           sapiente nulla eius beatae commodi itaque distinctio</h4>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Lorem ih4sum dolor sit, amet consectetur adipisicing elit. Sed laudantium a quis atque aperiam,
           minus eos totam, dolorum unde, assumenda sit animi nisi tempore labore ex quam? Beatae, laudantium et</p>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>